<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143742054571-j625pps20c076b210lor84a99jndh8q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143742054571-j625pps20c076b210lor84a99jndh8q1</string>
	<key>API_KEY</key>
	<string>AIzaSyCWUbzev2E0W1zJ-CXex_h75LcV63LayTU</string>
	<key>GCM_SENDER_ID</key>
	<string>143742054571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lion-Pool</string>
	<key>PROJECT_ID</key>
	<string>lion-75542</string>
	<key>STORAGE_BUCKET</key>
	<string>lion-75542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143742054571:ios:8869eaaca75e3b349487ee</string>
</dict>
</plist>