<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574827672222-dn5bifs2fj3a4o9jiccn59dta69jlshb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574827672222-dn5bifs2fj3a4o9jiccn59dta69jlshb</string>
	<key>API_KEY</key>
	<string>AIzaSyC6wpFanRJ0JMADdUQ3k7ReVvDPVU24sdo</string>
	<key>GCM_SENDER_ID</key>
	<string>574827672222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lion-Pool</string>
	<key>PROJECT_ID</key>
	<string>lion-pool-f5755</string>
	<key>STORAGE_BUCKET</key>
	<string>lion-pool-f5755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574827672222:ios:29e5651ae05fdaca37c18f</string>
</dict>
</plist>